- var invoiceNumber = 123
- var invoiceDate = "January 1, 2019"
- var invoiceDueDate = "February 1, 2019"
- var sender = "Placeholder SRL"
- var senderAddress = "12345 Placeholder Road"
- var senderCity = "Placeholder, DC 12345"
- var recipient = "Acme Corp."
- var recipientName = "John Doe"
- var recipientEmail = "john@example.com"